* {
    box-sizing: border-box;
}

body{
    background-color: #2C73D2;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    text-align: center;
}

.title{
    font-size: 6em;
    color: white;
    font-family: 'Saira Semi Condensed', sans-serif;
}

input{
    width: 250px;
    height: 50px;
    background-color: #001F6C;
    color: white;
    font-size: 1.3em;
    margin: 0 10px 0 0;
    border-radius: 10px;
}

::placeholder {
    color: white;
    opacity: 1;
    padding-left: 5px;
}

.createBtn{
    width: 75px;
    height: 50px;
    color: white;
    background-color: #DD255E;
    border: none;
    font-size: 1.2em;
    font-weight: bold;
    cursor: pointer;
    border-radius: 15px;
    transition: ease-in-out .3s;
    transform: translate(0px, -3px);
    box-shadow: 2px 4px white;
}

.createBtn:active{
    transition: ease-in-out .3s;
    transform: translate(1px, 3px);
    box-shadow: 0px 0px ;
}

.formSection{
    margin: 10px 0 40px 0;
}

.intro{
    color: white;
    margin: 30px 0 0 0;
    font-size: 1.4em;
    font-family: sans-serif;
}

.todos{
    color: #424656;
    font-size: 2.5em;
    width: 100%;
    background-color: whitesmoke;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.todoText{
    cursor: pointer;
}

.strike{
    text-decoration: line-through green;
}

.delete{
    background: transparent;
    border: none;
    font-size: 1em;
    color: red;
}
